:root
{
    primary-color: #4f46e5;
    secondary-color: white;
}    



/* typography */
body 
{
    font-family: 'Montserrat', sans-serif;
}
/* containers */

.container 
/* this works on both container and if you put text align center it will work on both container */
{
   padding-left: 1rem;
   padding-right: 1rem;
}
.container-center{
    /* max-width: 600px; */
    /* margin: auto; */
    /* below we can also do this */
    text-align: center;
}

/* links */
.link
{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link primary-link
{
    color:var(--primary-color);
    background-color:var(--primary-color)
    border: radius 0.5em;
    color:white

}


